:root {
	
	--main-background: hsl(235, 21%, 11%);
	--todo-background: hsl(235, 24%, 19%);
	--white: hsl(0,100%,100%);
	--gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	--main-text:hsl(234, 39%, 85%);
	--main-text-hover:hsl(236, 33%, 92%);
	--second-text: hsl(234, 11%, 52%);
	--footer-text: hsl(234, 11%, 52%);
	--placeholder: hsl(234, 11%, 52%);
	--border: hsl(234, 11%, 52%);
	--outline: hsl(234, 11%, 52%);
	--shadow:hsl(240, 20%, 8%);
	--active-link:hsl(220, 86%, 67%);

	--dark-theme-main-background: hsl(235, 21%, 11%);
	--dark-theme-todo-background: hsl(235, 24%, 19%);
	--dark-theme-gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	--dark-theme-main-text:hsl(234, 39%, 85%);
	--dark-theme-main-text-hover:hsl(236, 33%, 92%);
	--dark-theme-second-text: hsl(234, 11%, 52%);
	--dark-theme-placeholder: hsl(234, 11%, 52%);
	--dark-theme-border: hsl(234, 11%, 52%);
	--dark-theme-outline: hsl(234, 11%, 52%);
	--dark-theme-shadow:hsl(240, 20%, 8%);
	--dark-theme-active-link:hsl(220, 98%, 61%);

	--light-theme-main-background: hsl(0, 0%, 98%),
	--light-theme-todo-background: hsl(0, 100%, 100%),
	--light-theme-gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
	--light-theme-main-text: hsl(235, 19%, 35%),
	--light-theme-main-text-hover: hsl(237, 14%, 30%),
	--light-theme-second-text: hsl(233, 11%, 84%),
	--light-theme-placeholder: hsl(236, 9%, 61%),
	--light-theme-border: hsl(233, 11%, 84%),
	--light-theme-outline: hsl(233, 11%, 84%),
	--light-theme-shadow: hsl(235, 32%, 92%),
	--light-theme-active-link: hsl(220, 98%, 61%),
}