.Footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.Footer span {
	display: block;
	font-size: 12px;
	color: var(--footer-text);
}

@media all and (max-width:650px) {
	.Footer span {
		font-size: 14px;
	}
}